@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,400);

h1 {
  font-size: 2.2rem;
  color: lighten($orange, 25);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.test {
  font-size: 1.2rem;
  color: $blue;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}