@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,400);

body {
	padding-top: 5rem;	
}

h1 {
  font-size: 2.2rem;
  color: lighten($orange, 25);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.test {
  font-size: 1.2rem;
  color: $blue;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $brown;
    height: 5rem;

}

nav {
	.container {
	    display: table;
	    height: 100%;
	    position: absolute;
	    overflow: hidden;
	    width: 100%;
	}

	.containerHelper {
	    display: table-cell;
	    vertical-align: middle;
	}	
	
	ul {
    	list-style-type: none;
    	margin: 0;
    	padding: 0;
	}

	a {
    	text-decoration: none;
    	font-family: 'Open Sans', sans-serif;
  		font-weight: 600;
  		color: $white;

	}

	li {
    	margin: 0 1.4rem 0 1.4rem;

	}

	.navTitle {
 		float: left;
	}

	.navShortcuts {
  		float: right;
	}
}


.backgroundImage {
    background: url('content/bg.jpg');
    background-size: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    height: 25em;

}

.backgroundText {
    width: 50%;
    margin: 0 auto;
    padding-top: 3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 3rem;
}