@mixin social_icons($pathToIcon) {
	background: url($pathToIcon);
    background-size: 100%;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin: 3em .8em 0 .8em;
}

.social_fb {@include social_icons('../content/social_fb.png');}
.social_g {@include social_icons('../content/social_g.png');}
.social_in {@include social_icons('../content/social_in.png');}
.social_twt {@include social_icons('../content/social_twt.png');}



