@mixin col_icons($pathToIcon) {
    background: url($pathToIcon);
    background-size: 100%;
    width: 64px;
    height: 48px;
    display: inline-block;
    margin-top: 2em;
} /* this is the mixin for the 'why' section icons */

.education-icon {@include col_icons('../content/education.png');}
.leadership-icon {@include col_icons('../content/leadership.png');}
.opportunity-icon {@include col_icons('../content/opportunity.png');}
.network-icon {@include col_icons('../content/friends.png');}
.research-icon {@include col_icons('../content/research.png');}
.competition-icon {@include col_icons('../content/sports.png');}

@mixin modal_Text() {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;  
    color: #00000;
    font-size: 2rem;
    margin: 0 auto;
    margin-top: .2rem;
    text-align:center;
} /* this is the mixin for the modal text */

.modalLeftText{@include modal_Text(); }
.modalCenterText{@include modal_Text(); }
.modalRightText{@include modal_Text(); }

