$orange         : #BD3613;
$blue           : #2176C7;
$header			: #00A8C6;
$white			: #F9F2E7;

$font-primary: Open Sans, sans-serif;
$font-secondary: Bree Serif, serif;

$default-border-radius : 10px;