/* font colors */
$orange         : #F47F24;
$blue           : #003C7D;
$header			: #003C7D;
$white			: #F9F2E7;
$modalWhite     : #FAEBD7;

$font-primary: Open Sans, sans-serif;
$font-secondary: Bree Serif, serif;
$bold: 600;/*font-strength*/
$normal: 400;

$default-border-radius : 8px;
$bg : url('../content/bg.jpg'); /*url for background image*/

/* url for each carousel picture */
$carousel-pic1: url(http://i.imgur.com/I8SVJIK.jpg);
$carousel-pic2: url(http://i.imgur.com/Xlkw6mZ.jpg);
$carousel-pic3: url(http://i.imgur.com/gvJHur4.jpg);
$carousel-pic4: url(http://i.imgur.com/4R7mywZ.jpg);
$carousel-pic5: url(http://i.imgur.com/jZTfpMw.jpg);







